<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!./layout/head-common.html') %>
</head>
<body>
    
    <div class="page list js_show" style="margin:10px">
        <div class="page__hd">
            <h1 class="page__title">需求物品列表</h1>
            <p class="page__desc"></p>
        </div>
        <div class="page__bd">
           
    
        </div>
        <div class="page__ft">
        
        </div>
    </div>

    <%= require('html-loader!./layout/footer.html') %>
    <script type="text/javascript" src="../js/index.js"></script>
</body>
</html> 